({
    // "single_file": File (
    //     path: "audio/background.ogg",
    // ),

    // "texture_atlas": TextureAtlas (
    //     path: "images/female_adventurer_sheet.png",
    //     tile_size_x: 96.,
    //     tile_size_y: 99.,
    //     columns: 8,
    //     rows: 1
    // ),

    "fonts/slkscre.ttf": File (
        path: "fonts/slkscre.ttf"
    ),

    "ui/icons/prompts": TextureAtlas (
        path: "ui/icons/prompts_16x16.png",
        tile_size_x: 16.,
        tile_size_y: 16.,
        columns: 24,
        rows: 34,
    ),

    "loading_icon": File (
        path: "sprites/planets/parts/light0.png"
    ),

    "dummy": File (
        path: "sprites/planets/planets/planet09.png"
    )

    // "planet_shader": File (

    //     path: "shaders/planets/earth.wgsl"

    // )
})

